/* ===========================
            FOOTER
=========================== */

.footer {

    background:
        var(--black);

    border-top:
        1px solid
        rgba(212,175,55,.1);

    padding:
        80px 0 0;

    position:
        relative;

    overflow:
        hidden;
}


/* GOLD GLOW */

.footer::before {

    content: "";

    position: absolute;

    width: 300px;
    height: 300px;

    top: -150px;
    left: -150px;

    border-radius: 50%;

    background:
        radial-gradient(
            var(--gold-opacity-md),
            transparent
        );

    pointer-events: none;
}



/* ===========================
          BRAND
=========================== */

.footer-brand {

    text-align: center;

    margin-bottom: 60px;
}

.footer-logo {

    width: 150px;

    margin-bottom: 20px;
}

.footer-brand p {

    color:
        var(--white);

    font-size:
        1.1rem;

    font-weight:
        500;

    margin-bottom:
        10px;
}

.footer-brand span {

    color:
        var(--text-muted);

    font-size:
        .95rem;
}



/* ===========================
           LINKS
=========================== */

.footer-links {

    display: flex;

    justify-content: center;

    gap: 100px;

    margin-bottom: 50px;
}

.footer-column {

    /* min-width: 120px; */
    gap :90;


    text-align: center;
}

.footer-column h3 {

    color:
        var(--gold);

    margin-bottom:
        20px;

    font-size:
        1rem;

    font-weight:
        600;
}

.footer-column a {

    display:
        block;

    color:
        var(--gray-light);

    margin-bottom:
        14px;

    font-size:
        .95rem;

    transition:
        var(--transition);
}

.footer-column a:hover {

    color:
        var(--gold);

    transform:
        translateY(-2px);
}



/* ===========================
          SOCIAL
=========================== */

.footer-social {

    display:
        flex;

    justify-content:
        center;

    gap:
        30px;

    margin-bottom:
        50px;
}

.footer-social a{

    width:50px;
    height:50px;

    border:
        1px solid
        rgba(212,175,55,.15);

    background:
        rgba(255,255,255,.01);
}

.footer-social a:hover{

    background:
        rgba(212,175,55,.08);

    box-shadow:
        0 0 20px
        rgba(212,175,55,.15);
}



/* ===========================
          BOTTOM
=========================== */

.footer-bottom {

    border-top:
        1px solid
        rgba(212,175,55,.08);

    padding:
        25px 0;

    text-align:
        center;
}

.footer-bottom p {

    color:
        var(--text-muted);

    font-size:
        .9rem;
}


/* .footer-divider{

    width:80px;

    height:1px;

    margin:20px auto;

    background:
        rgba(212,175,55,.3);
} */


.footer-social a{

    width:45px;
    height:45px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    border:
        1px solid
        rgba(212,175,55,.15);

    color:var(--gray-light);

    transition:var(--transition);
}

.footer-social a:hover{

    color:var(--gold);

    border-color:var(--gold);

    transform:
        translateY(-3px);
}


/* ===========================
          TABLET
=========================== */

@media (max-width: 992px) {

    .footer-links {

        gap: 60px;
    }
}



/* ===========================
          MOBILE
=========================== */

@media (max-width:768px){

    .footer{

        padding-top:50px;
    }

    .footer-brand{

        margin-bottom:40px;
    }

    .footer-logo{

        width:110px;
    }

    .footer-brand p{

        font-size:1rem;
    }

    .footer-brand span{

        font-size:.9rem;
    }

    /* IMPORTANT */
    .footer-links{

        display:grid;

        grid-template-columns:
            repeat(2,1fr);

        gap:35px 20px;

        text-align:center;

        margin-bottom:40px;
    }

    .footer-column{

        border:none;

        padding:0;
    }

    /* support ko full width */
    .footer-column:last-child{

        grid-column:
            1 / -1;
    }

    .footer-column h3{

        font-size:1rem;

        margin-bottom:15px;
    }

    .footer-column a{

        font-size:.9rem;

        margin-bottom:10px;
    }

    .footer-social{

        gap:20px;

        flex-wrap:wrap;

        margin-bottom:35px;
    }

    .footer-bottom{

        margin-top:0;
    }
}



/* ===========================
       SMALL MOBILE
=========================== */

@media (max-width: 480px) {

    .footer-logo {

        width: 110px;
    }

    .footer-brand p {

        font-size:
            1rem;
    }

    .footer-brand span {

        font-size:
            .85rem;
    }

    .footer-column h3 {

        font-size:
            .95rem;
    }

    .footer-column a {

        font-size:
            .9rem;
    }

    .footer-bottom p {

        font-size:
            .8rem;
    }
}