.admin-navbar{
    height:110px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:20px;

    flex-wrap:wrap;

    padding:0 40px;

    background:
        linear-gradient(
            135deg,
            #050505,
            #0b0b0b
        );

    border-bottom:
        1px solid
        rgba(212,175,55,.15);

    position:sticky;
    top:0;

    z-index:1000;

    backdrop-filter:blur(20px);
}



/* =========================
        LEFT
========================= */

.admin-navbar-left{
    display:flex;
    align-items:center;
    gap:25px;

    flex:1;

    min-width:0;
}

.admin-brand img{
    width:130px;

    object-fit:contain;
}

.admin-divider{
    width:1px;
    height:80px;

    background:
        linear-gradient(
            transparent,
            var(--gold),
            transparent
        );

    position:relative;
}

.admin-divider::after{
    content:"";

    position:absolute;

    top:50%;
    left:50%;

    width:12px;
    height:12px;

    border-radius:50%;

    background:var(--gold);

    transform:
        translate(-50%,-50%);

    box-shadow:
        0 0 20px
        rgba(212,175,55,.7);
}


.admin-page-info h2{
    margin:0;

    color:var(--gold);

   font-size:clamp(
        28px,
        3vw,
        54px
    );

  

    font-family:
        var(--heading-font);

    line-height:1;

    text-shadow:
        0 0 20px
        rgba(212,175,55,.25);
}

.admin-page-info p{
    margin-top:12px;

    color:var(--gray);

    font-size:clamp(
        14px,
        1vw,
        18px
    );

    position:relative;

    display:inline-block;
}

.admin-page-info p::after{
    content:"";

    position:absolute;

    left:0;
    bottom:-10px;

    width:120px;
    height:3px;

    background:
        linear-gradient(
            90deg,
            var(--gold),
            transparent
        );
}





/* right */

.admin-navbar-right{
      display:flex;
    align-items:center;
    gap:15px;

    flex-shrink:0;
}


.admin-nav-icon{
    width:55px;
    height:55px;

    border-radius:50%;

    border:1px solid
        rgba(212,175,55,.3);

    background:
        rgba(212,175,55,.03);

    color:var(--gold);

    font-size:20px;

    cursor:pointer;

    transition:.3s;
}



.admin-nav-icon:hover{
    background:
        rgba(212,175,55,.1);

    transform:
        translateY(-3px);

    box-shadow:
        0 10px 20px
        rgba(212,175,55,.15);
}



/* profile */

.admin-profile{
    display:flex;
    align-items:center;
    gap:15px;
}


.admin-avatar{
    width:60px;
    height:60px;

    border-radius:50%;

    border:1px solid
        var(--gold);

    background:
        rgba(212,175,55,.08);

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--gold);

    font-size:28px;

    font-family:
        var(--heading-font);
}

.admin-profile h4{
    color:var(--white);

    margin:0;

    font-size:24px;
}

.admin-profile span{
    color:var(--gray);

    font-size:15px;
}

/* toggle  */

.admin-sidebar-toggle{
    width:45px;
    height:45px;

    border-radius:12px;

    border:1px solid rgba(212,175,55,.2);

    background:transparent;

    color:var(--gold);

    font-size:24px;

    cursor:pointer;
}



.admin-sidebar-toggle{
    display:none;
}

@media(max-width:1200px){
.admin-sidebar-toggle{
        display:flex;
        align-items:center;
        justify-content:center;
    }

     .admin-divider{
        display:none;
    }

    .admin-page-info h2{
        font-size:34px;
    }

    .admin-profile h4,
    .admin-profile span{
        display:none;
    }
}


@media(max-width:768px){

   .admin-divider{
        display:none;
    }

    .admin-navbar-left h2{
        font-size:22px;
    }

       .admin-page-info h2{
        font-size:25px;
    }

    .admin-navbar-right{
        gap:10px;
    }

     .admin-profile div:last-child{
        display:none;
    }

      .admin-navbar{
        padding:0 20px;
    }

    .admin-nav-icon,
    .admin-avatar{
        width:40px;
        height:40px;
    }
    .admin-sidebar-toggle{
        display:flex;
        align-items:center;
        justify-content:center;
    }
}





