/* =====================
 HERO
===================== */

.hero-section{
    background:#000;
    overflow:hidden;
    position:relative;
    padding:4rem 0;
}

.hero-section::before{
    content:"";
    position:absolute;
    top:-200px;
    right:-200px;

    width:700px;
    height:700px;

    background:
        radial-gradient(
            rgba(212,175,55,.15),
            transparent 70%
        );

    filter:blur(80px);
}

.hero-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:4rem;
}

/* =====================
 LEFT
===================== */

.hero-badge{
    color:var(--gold);
    letter-spacing:6px;
    font-size:.9rem;
    margin-bottom:1.5rem;
    display:block;
}

.hero-title{
    font-family:
        "Playfair Display",
        serif;

    font-size:6rem;
    line-height:.9;

    margin-bottom:2rem;
}

.hero-title span{
    display:block;

    color:var(--gold);

    font-style:italic;

    font-weight:500;
}

.hero-text{
    color:#d2d2d2;

    font-size:1.2rem;

    line-height:1.8;

    max-width:500px;

    margin-bottom:2rem;
}

/* BUTTONS */

.hero-buttons{
    display:flex;
    gap:1rem;
    margin-bottom:3rem;
}

.primary-btn{
    background:var(--gold);
    color:#000;
    border:none;

    padding:1rem 2.2rem;

    border-radius:10px;

    font-weight:600;

    cursor:pointer;
}

.secondary-btn{
    background:transparent;

    color:var(--gold);

    border:1px solid var(--gold);

    padding:1rem 2.2rem;

    border-radius:10px;

    cursor:pointer;
}

.hero-buttons button{
    transition:.3s;
}

.hero-buttons button:hover{
    transform:translateY(-4px);
}

/* BENEFITS */

.hero-features{
    display:flex;
    gap:30px;
    margin-top:3rem;
      margin-bottom: 2rem;
}

.feature-item{
    position:relative;
    padding-left:20px;
}

.feature-item::before{
    content:"";
    position:absolute;
    left:0;
    top:8px;

    width:2px;
    height:45px;

    background:rgba(212,175,55,.4);
}

.feature-item h4{
    color:#fff;
    font-size:1.1rem;
    margin-bottom:8px;
    font-weight:600;
}

.feature-item p{
    color:#aaa;
    font-size:1rem;
}

/* =====================
 RIGHT
===================== */

.hero-showcase{
    position:relative;
    height:650px;
      margin-top: -20px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.hero-circle{
    position:absolute;

    width:520px;
    height:520px;

    border-radius:50%;

     border:1px solid rgba(212,175,55,.08);
    box-shadow:none;
}

.main-card{
    position:relative;

      width: 420px;
    height: 520px;

    border-radius:220px 220px 25px 25px;

    overflow:hidden;

    z-index:2;

    box-shadow:
        0 20px 60px
        rgba(0,0,0,.5);
}

.main-card img{
   width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;


}

.bottom-items{
    display:flex;
      margin-top:-30px;
    gap:1rem;

    z-index:5;
}

.mini-card{
     width:120px;
    height:150px;

    border-radius:25px;

    overflow:hidden;

    background:#111;

    border:1px solid
        rgba(212,175,55,.15);

    box-shadow:
        0 10px 40px
        rgba(0,0,0,.4);
}

.mini-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.discount-badge{
    position:absolute;

    top:70px;
    right:40px;

    width:120px;
    height:120px;

    border-radius:50%;

    background:#000;

    border:1px solid var(--gold);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    z-index:10;
}

.discount-badge h2{
    color:var(--gold);
    font-size:2.5rem;
}

@keyframes float{

    0%,100%{
        transform:
            translateY(0);
    }

    50%{
        transform:
            translateY(-15px);
    }
}

/* =====================
 1200
===================== */

@media(max-width:1200px){

    .hero-title{
        font-size:5rem;
    }

    .hero-circle{
        width:450px;
        height:450px;
    }

    .main-product{
        width:420px;
    }
}

/* =====================
 992
===================== */

@media(max-width:992px){

    .hero-wrapper{
        grid-template-columns:1fr;
    }

    .hero-content{
        text-align:center;
    }

    .hero-text{
        margin:auto auto 2rem;
    }

    .hero-buttons,
    .hero-benefits{
        justify-content:center;
    }

    .hero-showcase{
        height:500px;
    }
}


@media (min-width:768px) and (max-width:1024px){

    .hero-showcase{
        width:100%;
        max-width:520px;
        margin:auto;
    }

    .main-card{
        width:420px;
        height:500px;
    }

    .mini-card{
        width:120px;
        height:150px;
    }

    .discount-badge{
        width:110px;
        height:110px;
    }
}

/* =====================
 MOBILE
===================== */

@media(max-width:768px){

    .hero-title{
        font-size:3.5rem;
    }

    .hero-buttons{
        flex-direction:column;
    }

    .hero-buttons button{
        width:100%;
    }

    .hero-benefits{
        flex-direction:column;
        gap:1rem;
    }

    .hero-circle{
        width:280px;
        height:280px;
    }

    .main-product{
        width:260px;
    }

    .perfume{
        width:90px;
        left:10px;
        bottom:40px;
    }

    .watch{
        width:100px;
        right:0;
        bottom:20px;
    }

    .hero-showcase{
        height:350px;
    }

      .hero-features{
        display:grid;
        grid-template-columns:1fr;
        gap:15px;
        margin:2rem 0;
    }

    .feature-item{
   padding: 20px 15px;
    border-radius: 18px;
        text-align:center;

        background:
            rgba(255,255,255,.02);

        border:
            1px solid rgba(212,175,55,.15);

        /* border-radius:16px; */
    }

    .feature-item::before{
        display:none;
    }

    .feature-item h4{
        font-size:1.1rem;
        margin-bottom:5px;
    }

    .feature-item p{
        font-size:.95rem;
        color:#999;
    }
}




@media (max-width:480px){
     .main-card{
        width:260px;
        height:320px;

        margin:auto;

        border-radius:
            160px
            160px
            20px
            20px;
    }
  .mini-card{
        width:90px;
        height:110px;
        border-radius:20px;
    }

    .bottom-items{
        gap:15px;
        margin-top:-40px;
    }
    .discount-badge{
        width:80px;
        height:80px;

        top:30px;
        right:10px;
    }

    .discount-badge h2{
        font-size:1.8rem;
    }

    .discount-badge span{
        font-size:.8rem;
    }
}