.admin-layout {
    display: flex;

    min-height: 100vh;

    background: var(--black);
}

.admin-main {
    flex: 1;

    min-width: 0;

    display: flex;

    flex-direction: column;
}

.admin-content {
    flex: 1;

    padding: 30px;

    min-width: 0;
}

@media (max-width: 768px) {

    .admin-content {
        padding: 20px;
    }
}